# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Data
data/raw/*
data/processed/*

# Chroma
chroma/
*.db

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
